﻿@page
@model VinSurVingtWeb.Areas.Identity.Pages.Account.LoginModel;

@{
    ViewData["Title"] = "Connexion";
}

@* Importation CSS *@
<link rel="stylesheet" href="~/css/gestionClient.css">
@* Importation Javascrit *@
<script src="~/js/gestionClient.js"></script>
<script>
    elementCenter()
</script>

<div class="mainElement">
    <form id="account" method="post" class="formPrincipale">

        @* Email *@
        <div class="divInput" style="width: inherit;">
            <label asp-for="Input.Email" class="lbInput">Email :</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" class="textBoxInput"
                placeholder="emailConnexion@vsv.fr" require="Email Require">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        @* Mot de passe *@
        <div class="divInput" style="width: inherit;">
            <label asp-for="Input.Password" class="lbInput">Mot de passe :</label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password"
                class="textBoxInput" placeholder="************">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mdpConn" style="width: inherit;">
            <a id="forgot-password" asp-page="./ForgotPassword" class="mdpOublie">Mot de passe oublié ?</a>
            <button id="login-submit" type="submit" class="btnPrincipal">Connexion</button>
        </div>

        <div class="divNewUser">
            <p class="newUser">Pas encore de compte ?</p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btnPrincipal">Inscrivez-vous !</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
