﻿@page
@model VinSurVingtWeb.Areas.Identity.Pages.Account.RegisterModel;
@{
    ViewData["Title"] = "Inscription";
}

@* Importation CSS *@
<link rel="stylesheet" href="~/css/gestionClient.css">
@* Importation Javascrit *@
<script src="~/js/gestionClient.js"></script>
<script>
    elementCenter()

    // Define main's parent's height to 85%
    document.querySelector('main').parentElement.style.height = 85+ '%';
</script>

<div class="mainElement height-full overflow">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="formPrincipale height-full" style="width: 100%;">

        <div class="mainForm">
            @* Left *@
            <div class="formPrincipale">
                @* Email *@
                <div class="divInput">
                    <label asp-for="Input.Email" class="lbInput">Email :</label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" class="textBoxInput" placeholder="emailInscription@vsv.fr" style="width: 450px;" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                @* Password *@
                <div class="divInput">
                    <label asp-for="Input.Password" class="lbInput">Mot de passe</label>
                    <input asp-for="Input.Password" class="textBoxInput" placeholder="mdpInscriptionVSV" autocomplete="new-password" aria-required="true" style="width: 450px;" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @* Comfirm password *@
                <div class="divInput">
                    <label asp-for="Input.ConfirmPassword" class="lbInput">Réperter votre mot de passe</label>
                    <input asp-for="Input.ConfirmPassword" class="textBoxInput" autocomplete="new-password"
                        aria-required="true" placeholder="************" style="width: 450px;" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            @* Right *@
            <div class="formPrincipale height-full">
                @* Fristname and lastname *@
                <div class="mainForm" style="width: auto;">
                    <div class="divInput">
                        @* Lastname *@
                        <label asp-for="Input.Lastname" class="lbInput">Nom :</label>
                        <input asp-for="Input.Lastname" class="textBoxInput" autocomplete="new-password"
                            aria-required="true" placeholder="DUPOND" />
                        <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                    </div>

                    <div class="divInput">
                        @* Firstname *@
                        <label asp-for="Input.Firstname" class="lbInput">Prénom :</label>
                        <input asp-for="Input.Firstname" class="textBoxInput" autocomplete="new-password"
                            aria-required="true" placeholder="Jean" />
                        <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                    </div>
                </div>

                @* Address *@
                <div class="divInput">
                    @* Phone *@
                    <label asp-for="Input.Phone" class="lbInput">Téléphone :</label>
                    <input asp-for="Input.Phone" class="textBoxInput"
                        aria-required="true" placeholder="0685849506" style="width: 450px;" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    
                    @* Address *@
                    <label asp-for="Input.Address" class="lbInput">Adresse :</label>
                    <input asp-for="Input.Address" class="textBoxInput"
                        aria-required="true" placeholder="45 rue de Paris" style="width: 450px;" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>

                    @* Complement *@
                    <label asp-for="Input.Complement" class="lbInput">Complément :</label>
                    <input asp-for="Input.Complement" class="textBoxInput"
                        placeholder="bis, appartement 49" style="width: 450px;" />
                    <span asp-validation-for="Input.Complement" class="text-danger"></span>

                    <div class="mainForm">
                        @* CP *@
                        <div class="divInput">
                            <label asp-for="Input.CP" class="lbInput">Code Postal :</label>
                            <input asp-for="Input.CP" class="textBoxInput"
                                aria-required="true" placeholder="35836" maxlength="5" minlength="5" />
                            <span asp-validation-for="Input.CP" class="text-danger"></span>
                        </div>

                        @* City *@
                        <div class="divInput">
                            <label asp-for="Input.City" class="lbInput">Ville :</label>
                            <input asp-for="Input.City" class="textBoxInput"
                                aria-required="true" placeholder="Paris" />
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        @* Btn S'inscrire *@
        <button id="registerSubmit" type="submit" class="btnPrincipal">S'inscrire</button>

        @* Déjà inscrit *@
        <div class="divNewUser">
            <p class="newUser">Vous avez déjà un compte ?</p>
            <a asp-page="./Login" class="btnPrincipal">Connectez-vous !</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
