﻿@using System.Globalization
@using VinSurVingtWeb.Controllers
@using VinSurVingtWeb.Models
@using System.Web
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore;
@using Microsoft.AspNetCore.Http.Extensions;

@inject IHttpContextAccessor Accessor



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var listOfFamilies = APIMethods.GetAllFamille();
    List<Article> listOfArticles = APIMethods.GetAllArticle();
    string cat = "catalogue";
    int categ = -1;
    int priceMin = -1;
    int priceMax = -1;

    var path = this.Context.Request.Path;
    // /home/catalogue
    var query = this.Context.Request.QueryString;
    // ?category=2&priceMin=10&priceMax=15
    /////suite
    string[] values = { "", "", "" };

    string quer = query.ToString();
    if (quer == "") { }
    else
    {
        values = quer.Split("&");
        //categ
        string[] inter;
        string[] inter1;
        string[] inter2;
        inter = values[0].Split("=");
        Console.WriteLine(inter);

        if (inter[1] != "")
            categ = Convert.ToInt16(inter[1]);
        inter = values[1].Split("=");
        if (inter[1] != "")
            priceMin = Convert.ToInt16(inter[1]);
        inter = values[2].Split("=");

        if (inter[1] != "")
            priceMax = Convert.ToInt16(inter[1]);
        inter = values[2].Split("=");

        if (categ != -1)
        {
            listOfArticles = APIMethods.getArticleByFamille(categ);
        }
        else
            listOfArticles = APIMethods.GetAllArticle();


        List<Article> liste = null;
        if (categ == -1)
            liste = APIMethods.GetAllArticle();
        else liste = null;

        if (categ == -1)
            liste = APIMethods.GetAllArticle();
        else
            liste = APIMethods.getArticleByFamille(categ);
        if (priceMin != -1)
        {
            foreach (Article art in liste)
            {
                if (art.articlePrixUnitaire < priceMin)
                {
                    listOfArticles.Remove(art);
                }
        }
    }
    else cat += "2";
    if (priceMax != -1)
    {
        foreach (Article art in liste)
        {
            if (art.articlePrixUnitaire > priceMax)
                {
                    listOfArticles.Remove(art);
            }
        }
    }
    else cat += "3";
    cat += path + "ici" + query;
    cat = categ.ToString() + priceMin.ToString() + priceMax.ToString();

    async Task<bool> pop(Article art)
    {
        listOfArticles.Remove(art);
        return true;
    }
    
    }
    
}
@{
    ViewData["Title"] = "Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    
    
 //   listOfArticles = await getArticle(categ, priceMin, priceMax);
    
    

}




@model VinSurVingtWeb.Models.HomeViewModel

<link rel="stylesheet" type="text/css" href="~/css/accueil.css" />

<h1>Catalogue</h1>
<div id="filters">
    <h3>Filtres :</h3>
    <form>
        <label for="category">Catégorie :</label>
        <select id="category" name="category">
            <option value="-1">tous</option>
            @foreach (var famille in listOfFamilies)
            {
                <option value="@famille.familleReference">@famille.familleNom</option>
            }
        </select>
        <br><br>
        <label for="price">Prix :</label>
        <input type="text" id="priceMin" name="priceMin" placeholder="Minimum">
        à
        <input type="text" id="priceMax" name="priceMax" placeholder="Maximum">
        <br><br>
        <input type="submit" value="Filtrer">
    </form>
</div>
<div class="row">
    @foreach (var article in listOfArticles)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @if ((APIMethods.GetFamilleById(article.familleReference).familleNom) == "Rouge")
                    {
                        <img src="~/img/Vinrouge.png" alt="famille rouge" class="card-img-top">
                    }
                    else if ((APIMethods.GetFamilleById(article.familleReference).familleNom).ToLower().Contains("blanc"))
                    {
                        <img src="~/img/Vinblanc.png" alt="famille blanche" class="card-img-top">
                    }

                    else
                    {
                        <img src="~/img/Vinrose.png" alt="autre famille" class="card-img-top">
                    }


                    <a href="">
                        <p class="price">@article.articlePrixUnitaire €</p>
                        <h5 class="card-title">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(article.articleResignation.ToLower())</h5>

                        <!-- Affichez d'autres informations sur la famille de vin ici -->
                    </a>
                </div>
            </div>
        </div>
    }
</div>

