﻿@using System.Globalization
@using VinSurVingtWeb.Controllers

@{
    ViewData["Title"] = "Home Page";
}
   

@{
    var listOfFamilies = APIMethods.GetAllFamille().Take(5);
    var listOfArticles = APIMethods.GetAllArticle().OrderBy(x => Guid.NewGuid()).Take(5);
    
}

@model VinSurVingtWeb.Models.HomeViewModel


<link rel="stylesheet" type="text/css" href="~/css/accueil.css" />


<h1>Nos familles de vin</h1>
<div class="row">
    @foreach (var famille in listOfFamilies)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @if (famille.familleNom == "Rouge")
                    {
                        <img src="~/img/Vinrouge.png" alt="famille rouge" class="card-img-top">
                    }
                    else if (famille.familleNom.ToLower().Contains("blanc"))
                    {
                        <img src="~/img/Vinblanc.png" alt="famille blanche" class="card-img-top">
                    }
                    
                    else
                    {
                        <img src="~/img/Vinrose.png" alt="autre famille" class="card-img-top">
                    }
                    <a href="./Home/Catalogue?category=@famille.familleReference&priceMin=&priceMax=">
                        <h5 class="card-title">@famille.familleNom</h5>
                    
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<h1>Sélection aléatoire de produits en vente</h1>
<div class="row">
    @foreach (var article in listOfArticles)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @if ((APIMethods.GetFamilleById(article.familleReference).familleNom) == "Rouge")
                    {
                        <img src="~/img/Vinrouge.png" alt="famille rouge" class="card-img-top">
                    }
                    else if ((APIMethods.GetFamilleById(article.familleReference).familleNom).ToLower().Contains("blanc"))
                    {
                        <img src="~/img/Vinblanc.png" alt="famille blanche" class="card-img-top">
                    }

                    else
                    {
                        <img src="~/img/Vinrose.png" alt="autre famille" class="card-img-top">
                    }

                    @{string c = article.articleReference.ToString();}


                    <a href="../Articles/Article/article?id=@c">
                        <p class="price">@article.articlePrixUnitaire €</p>
                        <h5 class="card-title">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(article.articleResignation.ToLower())</h5>

                        <!-- Affichez d'autres informations sur la famille de vin ici -->
                    </a>
                </div>
            </div>
        </div>
    }
</div>

