﻿@using VinSurVingtWeb.Models
@using VinSurVingtWeb.Controllers

@{

    Panier panier = new Panier();
    
    IHttpContextAccessor accessor = new HttpContextAccessor();
    //panier.nouvelArticle(1, 3);
    //panier.nouvelArticle(5, 9);
    //panier.nouvelArticle(2, 54);
    //panier.nouvelArticle(6, 29);

    ViewData["Title"] = "Panier client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../css/panier.css">

@* Div principale, celle du haut *@
<div class="mainDiv">
    <h2 class="titrePrincipal">Mon panier</h2>
    <button>Passer commande</button>
</div>

@* Div, informations sur les articles dans le panier *@
<div class="sndDiv">
    
    @* Vérifie si le panier est vide *@
    
    @if (panier.recupererPanier().Length == 0)
    {
        <p class="panierVide">Votre panier est vide.</p>
    }
    else
    {
        string[] panierClient = panier.recupererPanier();
        for (int i = 0; i < panierClient.Length - 1; i++)
        {
            string art = panierClient[i];
            if (!string.IsNullOrEmpty(art.Split("-")[0]))
            {
                Article article = APIMethods.GetArticleById(Convert.ToInt32(art.Split("-")[0]));
                Famille famille = APIMethods.GetFamilleById(article.familleReference);
                @* Un} article *@
                <div class="panierArticle">
                    @* img et infos article*@

                    <div class="informationsArticle">
                        @if (famille.familleNom == "Rouge")
                        {
                            <img src="~/img/Vinrouge.png" alt="famille rouge" class="imgVin">
                        }
                        else if (famille.familleNom.ToLower().Contains("blanc"))
                        {
                            <img src="~/img/Vinblanc.png" alt="famille blanche" class="imgVin">
                        }
                        else
                        {
                            <img src="~/img/Vinrose.png" alt="autre famille" class="imgVin">
                        }

                        @* Fournisseur - Article - Prix*@
                        <div class="infosArticle">
                            <div class="infosArt">
                                @* Fournisseur *@
                                @{
                                    Provider fournisseur = APIMethods.GetProviderById(article.fournisseurReference);
                                }
                                <p class="nomFournisseur">@fournisseur.fournisseurSociete</p>
                                @* Article *@
                                <p class="nomArticle">- @article.articleResignation</p>
                            </div>
                            @{
                                List<Tva> tva = APIMethods.GetAllTva();
        
                                // Calcul du prix totale
                                double prixTaxe = Math.Round(article.articlePrixUnitaire + (article.articlePrixUnitaire * (tva[0].tvaTva / 100)), 2);
                            }
                            <p class="prix">@prixTaxe € /Unité (Taxé)</p>
                        </div>
                    </div>

                    <div class="infosQuantite">
                        <div class="infosQuant">
                            <p class="quantite">Quantité : @art.Split("-")[1]</p>               
                            @{
                                int articleId = Convert.ToInt32(art.Split("-")[0]);
                            }
                            <button class="btnPanier">Retiter du panier</button>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>