﻿@using VinSurVingtWeb.Controllers
@inject IHttpContextAccessor Accessor

@{
    bool isConnected = false;
    Users user;
    string userEmail = "";
    string firstname = "";
    string lastname = "";
    if (!string.IsNullOrEmpty(Accessor.HttpContext.Session.GetInt32("UserId").ToString()))
    {
        isConnected = true;

        // Get user's informations
        user = APIMethods.GetUserById((int)Accessor.HttpContext.Session.GetInt32("UserId"));

        userEmail = user.authMail;

        // Get user's infos
        List<Clients> clts = APIMethods.GetAllClients();

        foreach(Clients clt in clts) {
            if(clt.authReference == user.authReference) {
                firstname = clt.clientPrenom;
                lastname = clt.clientNom;
            }
        }

    }


    ViewData["Title"] = "Paramètres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    const userConnected = @isConnected.ToString().ToLower();
    // Check if user is logged
    if(!userConnected) {
        document.location.href = "../../";
    }
</script>

<link rel="stylesheet" href="../../css/settings.css">

<h2>Paramètres utilisateurs</h2>
<h3>Bonjour @firstname @lastname</h3>

<div class="fstDiv">
    <p>La modification de mot de passe est temporairement indisponible.</p>
    <button class="disconnect" type="button" onclick="location.href='@Url.Action("loggout", "Settings")'">Se déconnecter</button>
</div>

<div>
    <button class="disconnect" type="button" onclick="location.href='@Url.Action("loggout", "Settings")'">Historique des commandes</button>
</div>