﻿@using VinSurVingtWeb.Models

@{
    Panier panier = new Panier();
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VinSurVingtWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VinSurVingtWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* Logo et barre de recherche *@
                <div class="rechercheLogo">
                    @* Logo du site *@
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/negosud.png" alt="Logo VSV" class="logoSite">
                    </a>

                    @* Barre de recherche *@
                    <div class="rechercheSite">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.0086 13.2075H14.06L13.7238 12.8834C14.9005 11.5146 15.6089 9.73756 15.6089 7.80446C15.6089 3.494 12.1149 0 7.80446 0C3.494 0 0 3.494 0 7.80446C0 12.1149 3.494 15.6089 7.80446 15.6089C9.73756 15.6089 11.5146 14.9005 12.8834 13.7238L13.2075 14.06V15.0086L19.211 21L21 19.211L15.0086 13.2075ZM7.80446 13.2075C4.81475 13.2075 2.40137 10.7942 2.40137 7.80446C2.40137 4.81475 4.81475 2.40137 7.80446 2.40137C10.7942 2.40137 13.2075 4.81475 13.2075 7.80446C13.2075 10.7942 10.7942 13.2075 7.80446 13.2075Z"
                                fill="#EF7E7E" />
                        </svg>
                        <input type="text" name="rechercheArticle" id="rechercheArticle" class="barreRecherche" placeholder="Rechercher un article...">
                    </div>
                </div>

                @* Bouton Acuueil, Catalogue, Compte client et prix de la commande *@
                <div class="collapse d-sm-inline-flex justify-content-between containerBtnNav">
                    @* Bouton catalogue & Compte client *@
                    <ul class="navbar-nav flex-grow-1 divBtnNavBar">
                        @* Cataloguet *@
                        <li class="btnNavBar">
                            <a class="textBtnNavBar" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="btnNavBar">
                            <a class="textBtnNavBar" asp-area="" asp-controller="Home" asp-action="Catalogue">Catalogue</a>
                        </li>
                        <li class="separateurNavBar"></li>
                        @* Compte client *@
                        <partial name="_LoginPartial" />
                    </ul>
                    @* Cadis *@
                    <div>
                        <a asp-controller="Home" asp-action="Panier">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 40C12.25 40 10.025 42.25 10.025 45C10.025 47.75 12.25 50 15 50C17.75 50 20 47.75 20 45C20 42.25 17.75 40 15 40ZM0 0V5H5L14 23.975L10.625 30.1C10.225 30.8 10 31.625 10 32.5C10 35.25 12.25 37.5 15 37.5H45V32.5H16.05C15.7 32.5 15.425 32.225 15.425 31.875L15.5 31.575L17.75 27.5H36.375C38.25 27.5 39.9 26.475 40.75 24.925L49.7 8.7C49.9 8.35 50 7.925 50 7.5C50 6.125 48.875 5 47.5 5H10.525L8.175 0H0ZM40 40C37.25 40 35.025 42.25 35.025 45C35.025 47.75 37.25 50 40 50C42.75 50 45 47.75 45 45C45 42.25 42.75 40 40 40Z" fill="#EF7E7E"/>
                            </svg>
                            <p class="priceClient">@panier.prixTotal()€</p>
                        </a>
                    </div>
                </div>
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div> *@
            </div>
        </nav>
    </header>
    <div class="container" id="mainElement">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VinSurVingtWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
