﻿@using Microsoft.AspNetCore.Identity
@using VinSurVingtWeb.Controllers;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor Accessor

@{
    bool isConnected = false;
    Users user;
    string emailNom = "";
    if (!string.IsNullOrEmpty(Accessor.HttpContext.Session.GetInt32("UserId").ToString()))
    {
        isConnected = true;

        // Récupération des informations de l'utilisateur
        user = APIMethods.GetUserById((int)Accessor.HttpContext.Session.GetInt32("UserId"));
        emailNom = user.authMail;
    }
}

<ul class="navbar-nav">
@if (!string.IsNullOrEmpty(Accessor.HttpContext.Session.GetInt32("UserId").ToString()))
{
    <li class="btnNavBar">
            <a class="textBtnNavBar" asp-controller="Home" asp-action="Settings">Compte client</a>
    </li>
    @*<li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@
}
else
{   
    <li class="btnNavBar">
        <a class="textBtnNavBar" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
    </li>
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
}
</ul>
