﻿@page
@using System.Web
@using System.Net.Http;
@using VinSurVingtWeb.Controllers
@using VinSurVingtWeb.Models
@model VinSurVingtWeb.Areas.Articles.Pages.Article.ArticleModel;




@{



    int getUrl()
    {

        var result = HttpContext.Request;

        string requeteURL = result.QueryString.ToString();

        string[] obtentionID = requeteURL.Split('=');

        string IDQueLonVeut = obtentionID[1];


        int idInt = Convert.ToInt32(IDQueLonVeut);

        return idInt;
    }

    int idArticle = getUrl();


    Article article = APIMethods.GetArticleById(idArticle);



    Famille famille = APIMethods.GetFamilleById(article.familleReference);


}
@{
    ViewData["Title"] = "Connexion";
}

@* Importation CSS *@
<link rel="stylesheet" href="~/css/gestionClient.css">
@* Importation Javascrit *@
<script src="~/js/gestionClient.js"></script>


<style type="text/css">

    .compartimentHaut{
        padding-top:50px;
        display: grid;
        grid-template-columns: 21% 79%;
        grid-template-rows: 150px 200px 70px;
        gap: 0px 0px;
        grid-template-areas:
            "imageArticleGrid ordreDesTitresGrid"
            "imageArticleGrid descriptionGrid"
            "imageArticleGrid quantitePlusAjoutPanierGrid";
    }

    .imageArticleGrid {
        grid-area: imageArticleGrid;
    }

    .ordreDesTitresGrid {
        grid-area: ordreDesTitresGrid;
        padding-bottom: 30px;
    }

    .descriptionGrid {
        grid-area: descriptionGrid;
    }

    .quantitePlusAjoutPanierGrid {
        grid-area: quantitePlusAjoutPanierGrid;
        display: flex;
        flex-direction:row;
        gap:15px;
        align-items: center;
        justify-content: right;
    }
    
    .titreArticle{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
    }

    .antiBug{
        margin: 0px; 
        padding:0px
    }
   

    h5{
        color: rgb(170,0,8);
    }

    h6{
        color: rgb(170,0,8);
    }

    p{
      color:rgb(239,126,126);  
    }
    

    .quantite{
        display: flex;
        flex-direction:row;
        align-items: center;
        gap:8px;
    }

    .backgroundGris{
        margin: 0px;
        padding: 0px;
        background-color: lightgray;
        padding-right: 5px;
        padding-left:5px;
        width:40px;
        border: none;
    }

    .btn-primary{
        background-color: rgb(239,126,126) !important;
        border-radius:6px;
        border-color: rgb(239,126,126) !important;
    }

    .btn-primary:hover{
        background-color: rgb(239,126,126) !important;
    }

    .texteAvis{
        width:100%;
        border:none;
        background-color: lightgray;
        color: rgb(239,126,126);
    }

    .poster{
        display: flex;
        justify-content: right;
    }

    .titreAvis{
        color: rgb(170,0,8);
    }

    .nomAvis{
        color: rgb(170,0,8);
    }

    .contenueAvis{
        color: rgb(239,126,126);
    }

    .traitRouge{
        border: none;
        border-top: solid 3px rgb(170,0,8);
        width:90%;
        margin: auto;
    }

</style>



    @{string variete = "";}
@{
    string image = "";
}


    @if (famille.familleNom == "Rouge")
    {
        variete = "vin rouge";
    image = "Vinrouge.png";
    }
    else if (famille.familleNom.ToLower().Contains("blanc"))
    {
        variete = "vin blanc";
    image = "Vinblanc.png";
    }
    else
    {
        variete = "rosé";
    image = "Vinrose.png";
    }




<div class="container">

    <div class="compartimentHaut">

            <div class="imageArticleGrid">
            <img alt="Image de l'article" src="~/img/@image" />
            </div>

            <div>
                <div class="ordreDesTitresGrid">
                    <div class="titreArticle">
                        <h5 class="antiBug">@article.articleResignation - </h5>


                        <p class="antiBug">variété de @variete</p>


                    </div>
                    <div class="titreArticle">
                    <h6 class="antiBug">@article.articlePrixUnitaire € - </h6>
                        <p class="antiBug">Blanc demi sec</p>
                    </div>

                </div>

                <div class="descriptionGrid">
                @*<p class="antiBug">dégustation :</p>*@
                    <p> 
                        @article.articleDescription;
                    </p>
                </div>



            @{
                if ( Request.Method == "POST" )
                {
                    string quantite = Request.Form["recupereQuantite"];

                    int quantiteINT = Convert.ToInt32(quantite);

                    Panier panier = new Panier();

                    panier.nouvelArticle(article.articleReference, quantiteINT);
                       
                    }
                }


                <form method="post" class="quantitePlusAjoutPanierGrid">
                    @*<div class="quantite">*@
                        <label class="antiBug" for="quantity">quantité</label> @*<p class="backgroundGris">@article.articleQuantite</p>*@
                        <input name="recupereQuantite" class="backgroundGris">


                    @*</div>*@

                    <input class="btn-primary"  type="submit" name="ajouter au panier"/>
               </form>

           

            </div>

    </div>

    <div class="compartimentBas">

        <p class="titreAvis">4.8/10-437 avis</p>


        <textarea class="texteAvis" placeholder="Laissez votre avis..."></textarea>
            <div class="poster">
                <button class="btn-primary">Poster</button>
            </div>
    </div>


    @{/*foreach()*/}

    <div class="lesAvis">

        <p class="nomAvis">Jean DUPOND - 5/10</p>
        <p class="contenueAvis">Je trouve ce vin délicieux ! Je recommande.</p>

        <div class="traitRouge"></div>

    </div>


</div>