﻿.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    margin: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    height: 220px;
    background-color: whitesmoke;
    border: 2px solid salmon;
    border-radius: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin:auto;
}

.card-title {
    color: red;
    text-align: center;
}

h1 {
    color: salmon;
    text-align:justify;
    font-size:30px;
}

a {
    color: red;
    text-decoration: none;
}

    h5:hover {
        color: rgba(255, 0, 0, 0.7);
        font-weight: bold;
    }

.card-img-top {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

@media (min-width: 700px) and (max-width: 950px) {
    .col {
        width: 45%;

    }
}

@media only screen and (max-width: 700px) {
    .col {
        width: 80%;
        margin: 10px;
        
    }
    .card{
        justify-content: center;
    }
}
