/* ========== CONNEXION / INSCRIPTION CLIENT ========== */
.btnPrincipal {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #EF7E7E;
    border: none;
    background: none;
    text-decoration: none;
}

.btnPrincipal:hover {
    text-decoration: underline;
    color: #EF7E7E;
}

.w-full {
    width: 100%;
}


/* ========== CONNEXION & INSCRIPTION CLIENT ========== */

/* Div contenant l'ensemble des informations */
.mainElement {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formulaire principale de la page */

.mainForm {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.overflow {
    overflow-y: auto;
}

.height-full {
    height: 100%;
}

.formPrincipale {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 60%;
}

/* Div contenent les informations */
.divInput {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
/* label au dessus des champs input */
.lbInput {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #EF7E7E;
}
/* Cases input */
.textBoxInput {
    /* La case */
    background: #FAF6F6;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 10px;

    /* Le texte */
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #EF7E7E;
}

.textBoxInput:focus {
    outline: none;
}

.textBoxInput::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #f0c3c3;
}

/* Div mot de passe oublé et connexion */
.mdpConn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Mot de passe oublié */
.mdpOublie {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #EF7E7E;
    text-decoration: none;
}

.mdpOublie:hover.newUser:hover {
    text-decoration: none;
    color: #EF7E7E;
}
/* div Nouvel User */
.divNewUser {
    display: flex;
    justify-content: center;
    column-gap: 4px;
}
/* btn Nouvel user */
.newUser {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #EF7E7E;
}