/* Commun - html */
html {
    font-family: 'Arial';
}

/* ========== Barre de navigation ========== */
.navbar {
    background-color: #CCCCCC;
}

/* ========== Logos & Barre de recherche */
.rechercheLogo {
    display: flex;
    align-items: center;
    width: 50%;
}

.divNavBar {
    justify-content: space-between;
}

.logoSite {
    width: 70px;
    height: auto;
}

.rechercheSite {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background: #FAF6F6;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.barreRecherche {
    background: transparent;
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #948B8B;
}

.barreRecherche:focus {
    outline: none;
}


/* ========= Partie de droite - Btn et prix */

/* ===== Les boutons ===== */
.containerBtnNav {
    margin-right: 25px;
    width: fit-content;
    column-gap: 16px;
}

.divBtnNavBar {
    column-gap: 16px;
    width: fit-content;
}

.separateurNavBar {
    border-left: solid 4px #EF7E7E;
    border-radius: 4px;
}

.btnNavBar {
    background: #EF7E7E;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all;
    transition-duration: 500ms;
}

.btnNavBar:hover {
    box-shadow: none;
    cursor: pointer;
}

.textBtnNavBar {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all;
    transition-duration: 500ms;
}

.btnNavBar:hover>.textBtnNavBar {
    color: #FFFFFF;
    text-decoration: underline;
}


/* ===== Les prix ===== */

.priceClient {
    position: absolute;
    font-family: Arial;
    margin-top: -60px;
    font-size: 12px;
    font-weight: 400;
    color: #AA0008;
    background-color: white;
    padding: 1px 1px;
    border-radius: 10px;
    margin-left: 25px;
}