﻿button {
    border: none;
}

button:focus {
    outline: none;
}

p {
    margin: 0px;
}

.titrePrincipal {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #EF7E7E;
}

.mainDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sndDiv {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.informationsArticle {
    display: flex;
    column-gap: 1rem;
} 
.infosArt {
    display: flex;
    column-gap: 0.125rem;
}

.imgVin {
    width: 30px;
    height: 100%;
}

.panierArticle {
    background: #F4F4F4;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
}

.infosArticle {
    display: flex;
    flex-direction: column;
    row-gap: 0.125rem;
    height: 100%;
}

.nomFournisseur {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #AA0008;
}

.nomArticle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #EF7E7E;
}

.prix {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #AA0008;
}

.infosQuantite {
    display: flex;
    align-items: flex-end;
}

.infosQuant {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.quantite {
    margin: 0;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #AA0008;   
}

.btnPanier {
    background: #EF7E7E;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    padding-left: 4px;
    padding-right: 4px;
    
    padding-top: 2px;
    padding-bottom: 2px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.panierVide {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #EF7E7E;
}