.disconnect {
    background: #EF7E7E;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all;
    transition-duration: 500ms;
    color: #fff;
    font-family: 'Arial';
}
    
.disconnect:hover {
    box-shadow: none;
    cursor: pointer;
    text-decoration: underline;
}

.fstDiv {
    display: flex;
    justify-content: space-between;
}